<div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box">

                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="min-width:50%;">Task status</th>
                                                <th>Type</th>
                                            </tr>
                                        </thead>
                                        <tbody>
					
					<!-- Things finished! -->
                                            <tr>
                                                <td class="middle-align">Get Apache,mysql,rails,pasenger,.. installed.</td>
                                                <td>
                                                    <button class="btn btn-custom waves-effect waves-light btn-sm" id="sa-basic">Done!</button>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="middle-align"> get SSL certificates</td>
                                                <td>
                                                    <button class="btn btn-custom waves-effect waves-light btn-sm" id="sa-basic">Done!</button>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="middle-align">Get domain</td>
                                                <td>
                                                    <button class="btn btn-custom waves-effect waves-light btn-sm" id="sa-basic">Done!</button>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="middle-align">Login</td>
                                                <td>
                                                    <button class="btn btn-custom waves-effect waves-light btn-sm" id="sa-basic">Done!</button>
                                                </td>
                                            </tr>


					<!-- Things WIP -->

                                            <tr>
                                                <td class="middle-align">Securize</td>
                                                <td>
                                                    <button class="btn btn-warning waves-effect waves-light btn-sm" id="warning-alert">WIP!</button>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="middle-align">Login rememberme</td>
                                                <td>
                                                    <button class="btn btn-warning waves-effect waves-light btn-sm" id="warning-alert">WIP!</button>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="middle-align">Calendar</td>
                                                <td>
                                                    <button class="btn btn-warning waves-effect waves-light btn-sm" id="warning-alert">WIP!</button>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="middle-align">Health</td>
                                                <td>
                                                    <button class="btn btn-warning waves-effect waves-light btn-sm" id="warning-alert">WIP!</button>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="middle-align">FAQ</td>
                                                <td>
                                                    <button class="btn btn-warning waves-effect waves-light btn-sm" id="warning-alert">WIP!</button>
                                                </td>
                                            </tr>


					<!-- Things To Do -->

                                            <tr>
                                                <td class="middle-align">Send mails</td>
                                                <td>
                                                    <button class="btn btn-danger waves-effect waves-light btn-sm" id="danger-alert">Not Even Close!</button>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="middle-align">renew certs -3M</td>
                                                <td>
                                                    <button class="btn btn-danger waves-effect waves-light btn-sm" id="danger-alert">Not Even Close!</button>
                                                </td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->


                    </div> <!-- container -->

                </div> <!-- content -->

                <footer class="footer">
                    2017 Dexmate.
                </footer>

            </div>