<div class="content-page">
	<!-- Start content -->
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="card-box">
						<div class="row">
							<div class="col-sm-12">
								<div class="text-center">
									<h3 class="font-600">Frequently Asked Questions</h3>
									<p class="text-muted"> Well... no one has asked us them yet... but just in case...
										
									</p>
									<button type="button" class="btn btn-success waves-effect waves-light m-t-10">Email us your question</button>
								</div>
							</div>
							<!-- end col -->
						</div>
						<!-- end row -->
						<div class="row m-t-40">
							<div class="col-lg-12">
								<div class="p-20">
									<div class="panel-group m-b-0" id="accordion" role="tablist"aria-multiselectable="true">
										
										<div class="panel panel-default bx-shadow-none">
											<div class="panel-heading" role="tab" id="headingOne">
												<h4 class="panel-title">
													<a role="button" data-toggle="collapse"
														data-parent="#accordion" href="#collapseOne"
														aria-expanded="true" aria-controls="collapseOne">
													What is Dexmate?
													</a>
												</h4>
											</div>
											<div id="collapseOne" class="panel-collapse collapse in"
												role="tabpanel" aria-labelledby="headingOne">
												<div class="panel-body">
													Lorem Ipsum is simply dummy text of the printing and
													typesetting industry. Lorem Ipsum has been the industry's
													standard dummy text ever since the 1500s, when an unknown
													printer took a galley of type and scrambled it to make a
													type specimen book.
													<br/> <br/>
													Anim pariatur cliche reprehenderit, enim eiusmod high life
													accusamus terry richardson ad squid. 3 wolf moon officia
													aute, non cupidatat skateboard dolor brunch. Food truck
													quinoa nesciunt laborum eiusmod.
												</div>
											</div>
										</div>
										
										<div class="panel panel-default bx-shadow-none">
											<div class="panel-heading" role="tab" id="headingTwo">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse"
														data-parent="#accordion" href="#collapseTwo"
														aria-expanded="false" aria-controls="collapseTwo">
													Is safe use Dexmate?
													</a>
												</h4>
											</div>
											<div id="collapseTwo" class="panel-collapse collapse"
												role="tabpanel" aria-labelledby="headingTwo">
												<div class="panel-body">
													Lorem Ipsum is simply dummy text of the printing and
													typesetting industry. Lorem Ipsum has been the industry's
													standard dummy text ever since the 1500s, when an unknown
													printer took a galley of type and scrambled it to make a
													type specimen book.
													<br/> <br/>
													Anim pariatur cliche reprehenderit, enim eiusmod high life
													accusamus terry richardson ad squid. 3 wolf moon officia
													aute, non cupidatat skateboard dolor brunch. Food truck
													quinoa nesciunt laborum eiusmod.
												</div>
											</div>
										</div>
										
										<div class="panel panel-default bx-shadow-none">
											<div class="panel-heading" role="tab" id="headingThree">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse"
														data-parent="#accordion" href="#collapseThree"
														aria-expanded="false" aria-controls="collapseThree">
													Why use Dexmate?
													</a>
												</h4>
											</div>
											<div id="collapseThree" class="panel-collapse collapse"
												role="tabpanel" aria-labelledby="headingThree">
												<div class="panel-body">
													Lorem Ipsum is simply dummy text of the printing and
													typesetting industry. Lorem Ipsum has been the industry's
													standard dummy text ever since the 1500s, when an unknown
													printer took a galley of type and scrambled it to make a
													type specimen book.
													<br/> <br/>
													Anim pariatur cliche reprehenderit, enim eiusmod high life
													accusamus terry richardson ad squid. 3 wolf moon officia
													aute, non cupidatat skateboard dolor brunch. Food truck
													quinoa nesciunt laborum eiusmod.
												</div>
											</div>
										</div>
										
										<div class="panel panel-default bx-shadow-none">
											<div class="panel-heading" role="tab" id="headingThree">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse"
														data-parent="#accordion" href="#collapseThree"
														aria-expanded="false" aria-controls="collapseThree">
													Why I should keep the dog in the fridge?
													</a>
												</h4>
											</div>
											<div id="collapseThree" class="panel-collapse collapse"
												role="tabpanel" aria-labelledby="headingThree">
												<div class="panel-body">
													Lorem Ipsum is simply dummy text of the printing and
													typesetting industry. Lorem Ipsum has been the industry's
													standard dummy text ever since the 1500s, when an unknown
													printer took a galley of type and scrambled it to make a
													type specimen book.
													<br/> <br/>
													Anim pariatur cliche reprehenderit, enim eiusmod high life
													accusamus terry richardson ad squid. 3 wolf moon officia
													aute, non cupidatat skateboard dolor brunch. Food truck
													quinoa nesciunt laborum eiusmod.
												</div>
											</div>
										</div>
										
										
										
										
										
										<div class="panel panel-default bx-shadow-none">
											<div class="panel-heading" role="tab" id="headingThree">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse"
														data-parent="#accordion" href="#collapseThree"
														aria-expanded="false" aria-controls="collapseThree">
													How can I fly without wings?
													</a>
												</h4>
											</div>
											<div id="collapseThree" class="panel-collapse collapse"
												role="tabpanel" aria-labelledby="headingThree">
												<div class="panel-body">
													Lorem Ipsum is simply dummy text of the printing and
													typesetting industry. Lorem Ipsum has been the industry's
													standard dummy text ever since the 1500s, when an unknown
													printer took a galley of type and scrambled it to make a
													type specimen book.
													<br/> <br/>
													Anim pariatur cliche reprehenderit, enim eiusmod high life
													accusamus terry richardson ad squid. 3 wolf moon officia
													aute, non cupidatat skateboard dolor brunch. Food truck
													quinoa nesciunt laborum eiusmod.
												</div>
											</div>
										</div>
										
										<div class="panel panel-default bx-shadow-none">
											<div class="panel-heading" role="tab" id="headingThree">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse"
														data-parent="#accordion" href="#collapseThree"
														aria-expanded="false" aria-controls="collapseThree">
													WHY?
													</a>
												</h4>
											</div>
											<div id="collapseThree" class="panel-collapse collapse"
												role="tabpanel" aria-labelledby="headingThree">
												<div class="panel-body">
													Lorem Ipsum is simply dummy text of the printing and
													typesetting industry. Lorem Ipsum has been the industry's
													standard dummy text ever since the 1500s, when an unknown
													printer took a galley of type and scrambled it to make a
													type specimen book.
													<br/> <br/>
													Anim pariatur cliche reprehenderit, enim eiusmod high life
													accusamus terry richardson ad squid. 3 wolf moon officia
													aute, non cupidatat skateboard dolor brunch. Food truck
													quinoa nesciunt laborum eiusmod.
												</div>
											</div>
										</div>
										
										
										
										
										
									</div>
									
								</div>
							</div>
							<!-- end col -->
							
						</div>
						<!-- end row -->
					</div>
				</div>
				<!-- end col -->
			</div>
			<!-- end row -->
		</div>
		<!-- container -->
	</div>
	<!-- content -->
	<footer class="footer">
		2017 Dexmate.
	</footer>
</div>